<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<div [ngSwitch]="title">
	<p *ngSwitchCase="'byron'">Este es un div se muestra cuando la condición es igual a 'byron'</p>
	<p *ngSwitchCase="'julian'">Este es un div se muestra cuando la condición es igual a 'julian'</p>
	<p *ngSwitchCase="'camilo'">Este es un div se muestra cuando la condición es igual a 'camilo'</p>
	<p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem('nuevo nombre')">Add name</button>

<ul>
	<li *ngIf="names.length === 0">La lista está vacía</li>
	<li *ngFor="let name of names; index as i">
		{{ i }} - {{ name }}
		<button (click)="deleteItem(i)">delete</button>
	</li>
</ul>
